﻿@model ProductPackagesUI.Models.ProductPackageDetailsViewModel

<div class="padding">
    <h3>Are you sure you want to delete this?</h3>
    <div class="form-group">
        <hr />
        <dl class="dl-horizontal ">
            <dt>
                @Html.DisplayNameFor(model => model.ProductPackageViewModel.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductPackageViewModel.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductPackageViewModel.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductPackageViewModel.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductPackageViewModel.Products)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductPackageViewModel.Products.Count)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductPackageViewModel.TotalValue)
            </dt>
            <dd>
                @ViewBag.CurrencySymbol@Html.DisplayFor(model => model.ProductPackageViewModel.TotalValue)
            </dd>
        </dl>
        <div class="text-center">
            <form asp-action="ConfirmDelete">
                <div class="form-group">
                    @Html.HiddenFor(model => model.ProductPackageViewModel._id)
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a href="javascript:void(0);" class="closbtn">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>