﻿@model ProductPackagesUI.Models.EditProductPackageViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Package</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" value="@ViewBag.CurrentCurrency" name="currency" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AvailableProducts" class="control-label"></label>
                @foreach (var product in Model.AvailableProducts)
                {
                    <div class="checkbox small-margin">
                        <input type="checkbox" name="SelectedProductsIds" value="@product.Id" , id="@product.Id" />
                        <span><strong>@product.Name</strong> - @ViewBag.CurrencySymbol@product.Value</span>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", new { currency = ViewBag.CurrentCurrency })
</div>

