﻿@model ProductPackagesUI.Models.ProductPackageDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Package Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductPackageViewModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPackageViewModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductPackageViewModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPackageViewModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductPackageViewModel.TotalValue)
        </dt>
        <dd>
            @ViewBag.CurrencySymbol@Html.DisplayFor(model => model.ProductPackageViewModel.TotalValue)
        </dd>
    </dl>
    <div>
        <h4>Products</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(p => Model.ProductPackageViewModel.Products[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(p => Model.ProductPackageViewModel.Products[0].Value)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductPackageViewModel.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(p => product.Name)
                        </td>
                        <td>
                            @ViewBag.CurrencySymbol@Html.DisplayFor(p => product.Value)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductPackageViewModel._id, currency = ViewBag.CurrentCurrency }) |
    @Html.ActionLink("Back to List", "Index", new { currency = ViewBag.CurrentCurrency })
</div>
