﻿@model ProductPackagesUI.Models.ProductPackageIndexViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>All available Packages</h2>
    @Html.ActionLink("Create New", "Create", new {currency = ViewBag.CurrentCurrency })
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPackageViewModels.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPackageViewModels.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPackageViewModels.First().Products)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductPackageViewModels.First().TotalValue)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductPackageViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Products.Count)
                    </td>
                    <td>
                        @ViewBag.CurrencySymbol@Html.DisplayFor(modelItem => item.TotalValue)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item._id, currency = ViewBag.CurrentCurrency }) |
                        @Html.ActionLink("Details", "Details", new { id = item._id, currency = ViewBag.CurrentCurrency }) |
                        <a href="javascript:void(0);" class="anchorDetail" data-id="@item._id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>

    </div>
</div>
@section scripts
    {
    <script>

        var TeamDetailPostBackURL = '/Packages/ConfirmDelete?currency=@ViewBag.CurrentCurrency' ;
    $(function () {
        $(".anchorDetail").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                    $(".closbtn").click(function () {
                        $('#myModal').modal('hide');
                    });

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    });

    </script>

}   