﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Somewhere in Letchworth Garden City<br />
    United Kingdom<br />
    <abbr title="Email">Email: </abbr>
    kaldhu@yahoo.com
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kaldhu@yahoo.com">kaldhu@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kaldhu@yahoo.com">kaldhu@yahoo.com</a><br />
    <strong>Random Queries:</strong> <a href="mailto:kaldhu@yahoo.com">kaldhu@yahoo.com</a>
</address>
